body {
  background-color: #d8eff0;
}

h1 {
  background-color: #f3c1c6;
  text-align: center;
  font-family: 'Sofia', cursive;
  border: 5px dotted white;
  font-size: 48px;
}

.dogs {
  width: 1425px;
  height: 500px;
  object-fit: cover;
  margin-left: 0px;
}

.quote {
  text-align: center;
  font-size: 23px;
  border: 3px solid;
  border-color: #f3c1c6;
  background-color: #f3c1c6;
}

h3 {
  text-align: center;
  font-family: 'Sofia', cursive;
  font-size: 40px;
  margin-bottom: 5px;
}
.mission {
  text-align: center;
  border: 3px solid white;
  background-color: white;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 100px;
  margin-left:100px;
}

.tabs {
  border: 3px solid white;
  background: white;
  margin-bottom: 10px;
  font-size: 20px;
}

form {
  font-size:17px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 350px;
  border: 3px dotted white;
  background-color: white;
  border-radius: 15px;
  margin-right:350px;
  padding: 14px;
}

.button {
  margin-left: 600px;
  width: 250px;
  height: 60px;
  border: 5px dotted white;
  border-radius: 12px;
  background-color: #f3c1c6;
  font-family: 'Sofia', cursive;
  font-size: 23px;
}

.page1 {
  font-size: 30px;
  margin-left: 200px;
  color: #e98f98;
  text-decoration: none;
}

.page2 {
  font-size: 30px;
  margin-left: 400px;
  color: #e98f98;
  text-decoration: none;
}

.page3 {
  font-size: 30px;
  margin-left: 400px;
  color: #e98f98;
  text-decoration: none;
}

.form-link {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-left: 560px;
  color: black;
  background-color: #f3c1c6;
  border: 5px dotted white;
  border-radius:12px;
  padding: 15px;
}

.akitas {
  width: 45%;
  text-align: center;
  border: 4px solid #f3c1c6;
  margin-left: 50px;
}

.AEDs {
  width: 45%;
  text-align: center;
  border: 4px solid #f3c1c6;
  margin-left: 25px;
  /* margin-left: 125px; */
}

.pointy-ears {
  display: flex;
}

.ASs {
  width: 45%;
  text-align: center;
  border: 4px solid #f3c1c6;
  margin-left: 50px;
}

.GRs {
  width: 45%;
  text-align: center;
  border: 4px solid #f3c1c6;
  margin-left: 25px;
  /* margin-left: 125px; */
}

.shepherds {
  display: flex;
  margin-top: 10px;
}

.beagles {
  width: 45%;
  text-align: center;
  border: 4px solid #f3c1c6;
  margin-left: 50px;
}

.golden-retrievers{
  width: 45%;
  text-align: center;
  border: 4px solid #f3c1c6;
  margin-left: 25px;
  /* margin-left: 125px; */
}

.floppy-ears {
  display: flex;
  margin-top: 10px;
}
.pugs {
  width: 45%;
  text-align: center;
  border: 4px solid #f3c1c6;
  margin-left: 50px;
}

.yorkies{
  width: 45%;
  text-align: center;
  border: 4px solid #f3c1c6;
  margin-left: 25px;
  /* margin-left: 125px; */
}

.small-dogs {
  display: flex;
  margin-top: 10px;
}


/* .Breeds {
  background-color: #f3c1c6;
  text-align: center;
  font-family: 'Sofia', cursive;
  border: 5px dotted white;
  font-size: 48px;
} */
